For help with this assignment, you can use the following table:
<a href="https://docs.google.com/document/d/1Q5VfbGyep-nC7oBmGEExpQpbGa5nwpDz4gaSIYqxY8w/edit">[Language features: basic data structures].</a>

Note the table will not be sufficient on its own for you to complete the assignment, however in the cases where it is not sufficient it can point you to the correct function or approach to answer the problem

Copy and paste the following and run the program after you have filled it out the requested lines. 

<b>Note, Python and R use ‘#’ for comments but if you are using matlab just Find/Replace every ‘#’ with a ‘%’ before you run your code.</b>

### a) Lists

####  1) Make a list with the spelled-out letter strings ‘A’, ‘B’, ‘C’, ‘D’, ‘E’, and ‘F’ in that order and call it myLetters.

In [71]:
myLetters = ['A','B','C','D','E']
print(myLetters)

['A', 'B', 'C', 'D', 'E']

#### 2) Update the second letter in the list to ‘Z’. Print myLetters.

In [72]:
myLetters[1] = 'Z'
print(myLetters)

['A', 'Z', 'C', 'D', 'E']

#### 3) Remove ‘E’ from the list using positional indexing.

In [73]:
del myLetters[4]
print(myLetters)

['A', 'Z', 'C', 'D']

#### 4) Check if ‘D’ is in the list.

In [74]:
'D' in myLetters

True

#### 5) Append ‘P’ to the end of the list, then print the length of the list.

In [75]:
myLetters.append('P')
print(myLetters)
print(len(myLetters))

['A', 'Z', 'C', 'D', 'P']
5

####  6) Print only the first two items in the list.

In [76]:
myLetters[0:2]

['A', 'Z']

#### 7) Print only the last two items in the list.

In [77]:
myLetters[3:5]

['D', 'P']

#### 8) Print the contents of the list.

In [78]:
print(myLetters)

['A', 'Z', 'C', 'D', 'P']

#### 9) Split the string “my dog is a golden retriever” into a list, print each value in the list and the length of each value.

In [79]:
dog_list = "my dog is a golden retriever".split(" ")

for word in dog_list:
    print(word + " " + str(len(word)))

my 2
dog 3
is 2
a 1
golden 6
retriever 9

### b) Dictionaries

#### 1) Make a dictionary with the keys as the items in the coffee shop as below, and the values as the cost of each item. Note: make sure that all key are represented as strings and values are represented as floats.

<ol>
    <li>Black tea- 2.60</li>
    <li>Green tea- 2.85</li>
    <li>Espresso- 2.70</li>
    <li>Mocha- 4.15</li>
    <li>Chai tea- 3.45</li>
    <li>Iced latte- 3.70</li>
    <li>Cappuccino- 3.40</li>
    <li>Blueberry muffin- 2.50</li>
    <li>Croissant- 3.45</li>
</ol>

In [80]:
order = {'Black tea':2.60, 'Green tea':2.85, 'Espresso':2.70, 'Mocha':4.15, 'Chai tea': 3.45, 'Iced latte':3.70, 'Cappuccino':3.40, 'Blueberry muffin': 2.50, 'Croissant': 3.45}

#### 2) Print the size of the dictionary following a string that states “The length of the dictionary is ".

In [81]:
print ('The length of the dictionary is ' + str(len(order)))

The length of the dictionary is 9

#### 3) Use the dictionary to look up the costs of an ‘Espresso’ and a ‘Croissant’.

In [82]:
print('The cost of an espresso is ' + str(order['Espresso']))
print('The cost of a croissant is ' + str(order['Croissant']))

The cost of an espresso is 2.7
The cost of a croissant is 3.45

####  4) Update the value of an iced latte to 4.50.

In [83]:
order['Iced latte'] = 4.50

#### Remove the key ‘Mocha’ and its corresponding value from the dictionary.

In [84]:
del order['Mocha']
print(order)

{'Black tea': 2.6, 'Green tea': 2.85, 'Espresso': 2.7, 'Chai tea': 3.45, 'Iced latte': 4.5, 'Cappuccino': 3.4, 'Blueberry muffin': 2.5, 'Croissant': 3.45}

####  5) Make a variable var with the string “Coffee shop order: black coffee, chai tea, blueberry muffin, black tea”.

In [85]:
var = "Espresso,Chai tea,Blueberry muffin,Black tea"

#### 6) Now create a list from var with each word a separate item (this is a string split operation).

In [86]:
order_list = var.split(",")
print(order_list)

['Espresso', 'Chai tea', 'Blueberry muffin', 'Black tea']

### c) Arrays

#### 1) Create an array of zeros of size 4 x 4 and print the data type and the dimensions of the array.

In [87]:
import numpy as np
var = np.zeros((4,4))
print(var.dtype)
print(var.shape)

float64
(4, 4)

#### 2) Fill the array with the numbers 1 to 16 first by row, then by column. You may want to use a for loop inside a for loop to do this.

In [88]:
#By row
i = 1
for x in range(0,4):
    for y in range(0,4):
        var[x][y] = i
        i = i +1
        
print(var)

[[  1.   2.   3.   4.]
 [  5.   6.   7.   8.]
 [  9.  10.  11.  12.]
 [ 13.  14.  15.  16.]]

In [89]:
#By column
var.transpose()

array([[  1.,   5.,   9.,  13.],
       [  2.,   6.,  10.,  14.],
       [  3.,   7.,  11.,  15.],
       [  4.,   8.,  12.,  16.]])

#### 3) Print the last value in the array.

In [90]:
print(var[3,3])

16.0

#### 4) Set the value at Row 1 and Column 3 to 20.  Remember that indexing starts at 0, so row 1 = 0 and column 3 = 2.

In [91]:
var[0][2] = 20

print(var)

[[  1.   2.  20.   4.]
 [  5.   6.   7.   8.]
 [  9.  10.  11.  12.]
 [ 13.  14.  15.  16.]]

#### 6) Print only the top 2 rows and all of its columns.

In [92]:
var[0:2,0:4]

array([[  1.,   2.,  20.,   4.],
       [  5.,   6.,   7.,   8.]])

####  7) Make a 1D array out of your 2D array (note the column vs row issue, you may need transposes).

In [94]:
one_d = var.flatten()
print(one_d)

[  1.   2.  20.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.
  16.]

#### 8) Now take that 1D array you made from before and reshape it back to the original 2D array.

In [95]:
import numpy as np
var2 = np.reshape(one_d,(-1,4))
print(var2)

[[  1.   2.  20.   4.]
 [  5.   6.   7.   8.]
 [  9.  10.  11.  12.]
 [ 13.  14.  15.  16.]]