For help with this assignment, you can use the following table:
<a href="https://docs.google.com/document/d/1Vy7kkxuP1mY5f2jYZU3Og7eVbuTv_Rhj3lFTrICUywg/edit">[Language Features: Basic language syntax].</a>

Note however, that the table will not be sufficient on its own for you to complete the assignment, however in the cases where it is not sufficient it can point you to the correct function or approach to answer the problem

<b>Copy and paste the following and run the program after you have filled it out the requested lines. Note, Python and R use ‘#’ for comments but if you are using matlab just Find/Replace every ‘#’ with a ‘%’ before you paste your code.</b>

### Section A: help and comments

#### 1). Create a variable, var, and set the value to the integer “52”

#### 2). Print the data type of var

####  3). Run the help function for var

#### 4). Print the value of the variable var and include a comment of what the print statement is expected to output

### Section B: numbers and arithmetic

#### 1). Print the types for 10, 10.5, and “10” and note how they differ

#### 2). Calculate and print the area of a rectangle with length=15.75 and width=35.65 to two decimal places

####  3). Print a random roll of a dice (numbers 1 to 6)

#### 4). Print a random floating point number from 0 to 12.5, rounded to 1 decimal place

### Section C: strings and slices

#### 1). Create a string (be creative) with a single quote character in it, a double quote character in it, a tab, and a newline character, and print the string you’ve made

#### 2). Set a to “coffee”, b to “is”, and c to “amazing”, and concatenate them into variable d with spaces in between

#### 3). Print the length of string d

#### 4). Change string d into upper or lower case (your choice)

#### 5). Extract “coffee” from string d using string index slicing

#### 6). Split string d into a list by using a space delimiter(“ “)

#### 7). Create a string (be creative) and use your language’s contains method to determine if a word can be found in your string

### Section D: booleans and conditionals

####  1). Translate and then evaluate the truth value of this: (false) or ((not true) and true)

#### 2). Write an if statement for variable temp that prints “A” if grade is between 90 and 100, “B” if grade between 80 and 90, “C” if grade is between 70 and 80, and “D” if the grade is anything else. Feel free to also add a remark with the grade letter, such as “Great job!” or “You got this!”.

#### 3). Write an if/else statement that takes a variable var and prints “Greater than 10” if var is greater than 10; “Less than 10” if var is less than 10; and “Equal to 10” if var is equal to 10 

** Make sure to appropriately test for each case

#### 4). Write an if/else statement that takes a variable var and prints “Even” if var is even; “Odd” if var is odd. These statements should use the remainder method of your language. You can even try to use a ternary operator if you want more practice!

** Make sure to appropriately test each case

### Section E: loops

#### 1). Write a for loop that prints the numbers 0 to 20

#### 2). Create a list of integers and write a for loop that calculates the sum of the values in the list

#### 3). Write a for each loop that goes through a list consisting “apples”, “bananas”, and ”oranges” and prints the string and it’s length

#### 4). Set the variable a to be 50. Then make a while loop that stops when a is less than or equal to 0. In the loop, divide a by 5 each time and show the results.

#### 5). Do the same as before, but have the while loop never stop. (e.g. while(true)) but have it break the loop when a is less than or equal to 0