# Basic Language Syntax- Data Types and Control Structures
This notebook will show you some basic functions and properties of using the R language. You can run each cell individually (ctrl + enter) or all at once (Click "Cell" -> "Run All")

For documentation of data types, functions, and control structures, use: https://www.r-project.org/other-docs.html

Another useful [cheatsheet](https://cran.r-project.org/doc/contrib/Short-refcard.pdf)

## Printing

In [1]:
cat("This is printed")

This is printed

## Assignment
Assigning values to variables. Both ways of assignment are valid and do the same thing.

In [4]:
a <- 1
2 -> a
cat(a)

2

## Comments
Informative/clarifying statements that improve human readability of code

In [5]:
# Words go here

## Help
Finding helpful information on a function or object, var

In [8]:
help(help)

In [10]:
?var

# TYPES OF DATA

## Type
How to check the type of a variable, a

In [11]:
typeof(a)

[1] "double"

## Int
Any whole number

In [116]:
33

[1] 33

[1] "double"

## Float
Fractional number

In [117]:
1.0

[1] 1

[1] "double"

## Boolean
A data type that represents truth value

In [41]:
TRUE
FALSE

[1] TRUE

[1] FALSE

## String
Any finite sequence of characters (i.e., letters, numerals, symbols, and punctuation marks). The length of a string is a natural number.

In [18]:
"My string"
'My string'

[1] "My string"

[1] "My string"

# STRING METHODS

## Concatenation
Combine strings

In [120]:
a <- "hi"
cat(paste(a, "John", sep = " "))

hi John

## Substring
A substring of a string. The 2 and 5 are the first and last characters that are included in the substring. Indexing for strings starts at index 1, not 0.

In [20]:
substr("smiles", 2, 5)

[1] "mile"

## Split String to List
Break a string into a list based on a delimiter (usually default is a space)

In [21]:
strsplit("my string is", " ")[[1]]

[1] "my"     "string" "is"

## Make String from List/Array of Strings

In [24]:
paste(c('my', 'string', 'is'), collapse=' ')

[1] "my string is"

## To Upper or To Lower
Change characters within a string to be of upper or lower case

In [26]:
toupper("My string is")
tolower("MY STRING IS")

[1] "MY STRING IS"

[1] "my string is"

## Contains
See if a pattern is in a string

In [28]:
grep("hi", "ohio")
# return 1 if true
# 0 if false

[1] 1

## Length
Find the length of the N

In [29]:
nchar("My string is")

[1] 12

## New Line, Tab

In [38]:
cat("hi")
cat(a, "\n")
cat("\thi")

hi2
	hi

# MATH

## Arithmetic Assignment
Storing data in a variable and giving it a name

In [45]:
a = 32
b <- 16
8 -> c
cat(a, " ", b, " ", c)

32   16   8

## Addition

In [58]:
2+2

[1] 4

## Subtraction

In [57]:
10-5

[1] 5

## Multiplication

In [56]:
3*3

[1] 9

## Division

In [55]:
8/4

[1] 2

## Power

In [54]:
2^3

[1] 8

## e^x

In [59]:
exp(2)

[1] 7.389056

## Remainder

In [60]:
5 %% 2

[1] 1

## Factorial

In [61]:
factorial(3)

[1] 6

## Round

In [3]:
round(1.33)

[1] 1

## Round Up

In [65]:
ceiling(1.01)

[1] 2

## Round Down

In [66]:
floor(1.999)

[1] 1

## Print to 2 Decimal Places

In [71]:
round(1.12345, digits=2)

[1] 1.1

## Pi

In [72]:
pi

[1] 3.1

## Random Integer from 1 to 6 Inclusive

In [77]:
sample(1:6, 1)

[1] 5

## Random Number from 2.5 to 7.5

In [80]:
runif(1, 2.5, 7.5)
round(runif(1, 2.5, 7.5), digits = 2)

[1] 7.3

[1] 7.5

## Generate Random Numbers from Normally Distributed Numbers
(mean = 0, standard deviation = 1)

In [83]:
rnorm(1)

[1] 0.37

# LOGIC EXPRESSIONS

## Equal to

In [84]:
3 == 4

[1] FALSE

## Not Equal To

In [85]:
3 != 4

[1] TRUE

## Greater Than or Equal To

In [86]:
3 >= 4

[1] FALSE

## Less Than or Equal To

In [87]:
3 <= 4

[1] TRUE

## a AND b

In [89]:
TRUE & FALSE

[1] FALSE

## a OR b

In [90]:
TRUE | FALSE

[1] TRUE

## NOT a

In [91]:
!FALSE

[1] TRUE

# LOOPS AND CONTROL STRUCTURES

## IF statement
Run encapsulated code if condition is TRUE

In [92]:
if(2 > 0) {
    cat("POSITIVE")
}

POSITIVE

## IF ELSE statement
Run encapsulated code if the condition is TRUE. Otherwise, evaluate code in the ELSE block.

In [93]:
x <- -1
if(x > 0){
    cat("POSITIVE")
} else {
    cat("NEGATIVE")
}

NEGATIVE

## IF, ELSE IF, ELSE statement
Run encapsulated code if condition is TRUE. Otherwise, if the second condtition is TRUE, evaluate code within that. If neither are TRUE, evaluate ELSE block.

In [96]:
x <- 0
if(x > 0){
    cat("POSITIVE")
} else if(x < 0) {
    cat("NEGATIVE")
} else {
    cat("ZERO")
}

ZERO

## Ternary Operator
More compact way of expressing an if else statement.

In [98]:
x <- -3
if(x>0) cat("POSITIVE") else cat("NOT POSITIVE")

NOT POSITIVE

## FOR Loop
Allows you to repeatedly loop for a specified number of times.

In [103]:
for(i in 1:10) {
    cat(i, " ")
}

1  2  3  4  5  6  7  8  9  10

## FOR EACH Loop
Allows you to iterate over a collection of items.

In [107]:
i <- 1
degreesC <- c(20.0, 32.3, 21.2)
degreesKelvin <- c()

#For every 'temp' in degreesC vector...
for(temp in degreesC){
    degreesKelvin[i] <- (temp+273.15)
    i <- i+1
}
degreesKelvin

[1] 293 305 294

## WHILE Loop
Allows you to repeatedly loop an unspecified amount of times until a condition fails.

In [109]:
x <- 10
while(x>0) {
    cat(x, " ")
    x = x-1
}

10  9  8  7  6  5  4  3  2  1

## DO WHILE Loop
Same as a while loop, except the loop will run at least once and then check if the condition is met.

In [112]:
x <- 5
repeat{
    cat("x is above zero\n")
    x = x-1
    if(x<=0) {
        break
    }
}

x is above zero
x is above zero
x is above zero
x is above zero
x is above zero

## BREAK
Exits current loop.

In [113]:
x <- 5
repeat{
    cat("x is above zero\n")
    x = x-1
    if(x<=0) {
        cat("About to BREAK!!!")
        break
    }
}

x is above zero
x is above zero
x is above zero
x is above zero
x is above zero
About to BREAK!!!