# Assignment 11: Primer for data frames

In this primer, we will study a classic data set - the survivors in the sinking of the Titanic. As there were limited lifeboats, decisions were made prioritizing who would and would not survive. We will observe how different factors such as age, sex, and class affected a personâ€™s chance of survival using data frames.

For help with this assignment, you can use the following tutorial material: https://docs.google.com/document/d/1phdIyrb1RdF05sUvWFNd1F_OO5W7G7kobB12IhOnmJI/edit?usp=sharing

## Steps

### 1. Input the following data into a data frame called "titanic", and display the entire data frame.
    Sex, Class, Survived, Died
    Children, First, 6, 0
    Children, Second, 24, 0
    Children, Third, 27, 52
    Men, First, 57, 118
    Men, Second, 14, 154
    Men, Third, 75, 387
    Men, Crew, 192, 693
    Women, First, 140, 4
    Women, Second, 80, 13
    Women, Third, 76, 89
    Women, Crew, 20, 3

In [30]:
sex <- c('Children', 'Children', 'Children', 'Men', 'Men', 'Men', 'Men', 'Women', 'Women', 'Women', 'Women')
class <- c('First', 'Second', 'Third', 'First', 'Second', 'Third', 'Crew', 'First', 'Second', 'Third', 'Crew') 
survived <- c(6, 24, 27, 57, 14, 75, 192, 140, 80, 76, 20)
died <- c(0, 0, 52, 118, 154, 387, 693, 4, 13, 89, 3)

titanic <- data.frame(sex, class, survived, died)
print(titanic)

        sex  class survived died
1  Children  First        6    0
2  Children Second       24    0
3  Children  Third       27   52
4       Men  First       57  118
5       Men Second       14  154
6       Men  Third       75  387
7       Men   Crew      192  693
8     Women  First      140    4
9     Women Second       80   13
10    Women  Third       76   89
11    Women   Crew       20    3

### 2. Now only show the data of the people in first class.

In [31]:
firstclassonly = titanic$class == 'First'

titanic[firstclassonly,]

  sex      class survived died
1 Children First   6        0
4 Men      First  57      118
8 Women    First 140        4

### 3. Delete the crew members from the data.

In [32]:
titanic <-titanic[!(titanic$class == 'Crew'),]
titanic

   sex      class  survived died
1  Children First    6        0
2  Children Second  24        0
3  Children Third   27       52
4  Men      First   57      118
5  Men      Second  14      154
6  Men      Third   75      387
8  Women    First  140        4
9  Women    Second  80       13
10 Women    Third   76       89

### 4. Create a new column that is the total number of people for that group (those who survived + died).

In [33]:
titanic$total <- titanic$survived+titanic$died
titanic

   sex      class  survived died total
1  Children First    6        0    6
2  Children Second  24        0   24
3  Children Third   27       52   79
4  Men      First   57      118  175
5  Men      Second  14      154  168
6  Men      Third   75      387  462
8  Women    First  140        4  144
9  Women    Second  80       13   93
10 Women    Third   76       89  165

### 5. Create a new column with the percentage of people who survived.

In [34]:
titanic$survivalpercentage <- titanic$survived/titanic$total
titanic

   sex      class  survived died total survivalpercentage
1  Children First    6        0    6   1.00000000
2  Children Second  24        0   24   1.00000000
3  Children Third   27       52   79   0.34177215
4  Men      First   57      118  175   0.32571429
5  Men      Second  14      154  168   0.08333333
6  Men      Third   75      387  462   0.16233766
8  Women    First  140        4  144   0.97222222
9  Women    Second  80       13   93   0.86021505
10 Women    Third   76       89  165   0.46060606

### 6. Delete the column indicating the total number of people in that group.

In [35]:
titanic[,-c(5)]

   sex      class  survived died survivalpercentage
1  Children First    6        0  1.00000000
2  Children Second  24        0  1.00000000
3  Children Third   27       52  0.34177215
4  Men      First   57      118  0.32571429
5  Men      Second  14      154  0.08333333
6  Men      Third   75      387  0.16233766
8  Women    First  140        4  0.97222222
9  Women    Second  80       13  0.86021505
10 Women    Third   76       89  0.46060606

### 7. Only show the rows where more than 80% of the people survived.

In [36]:
morethan80 = titanic$survivalpercentage > .80

titanic[morethan80,]

  sex      class  survived died total survivalpercentage
1 Children First    6       0     6   1.0000000
2 Children Second  24       0    24   1.0000000
8 Women    First  140       4   144   0.9722222
9 Women    Second  80      13    93   0.8602151

### 8. Then only show the rows where less 40% of the people survived.

In [37]:
lessthan40 = titanic$survivalpercentage < .40
titanic[lessthan40,]

  sex      class  survived died total survivalpercentage
3 Children Third  27        52   79   0.34177215
4 Men      First  57       118  175   0.32571429
5 Men      Second 14       154  168   0.08333333
6 Men      Third  75       387  462   0.16233766

### 9. Calculate the total number of people that survived and died for each class, then report the percentages.

In [38]:
# first class
firstclass <- subset(titanic, class == 'First')
firstclass

# second class
secondclass <- subset(titanic, class == 'Second')
secondclass

# third class
thirdclass <- subset(titanic, class == 'Third')
thirdclass

  sex      class survived died total survivalpercentage
1 Children First   6        0    6   1.0000000
4 Men      First  57      118  175   0.3257143
8 Women    First 140        4  144   0.9722222

  sex      class  survived died total survivalpercentage
2 Children Second 24         0   24   1.00000000
5 Men      Second 14       154  168   0.08333333
9 Women    Second 80        13   93   0.86021505

   sex      class survived died total survivalpercentage
3  Children Third 27        52   79   0.3417722
6  Men      Third 75       387  462   0.1623377
10 Women    Third 76        89  165   0.4606061

In [39]:
# first class survivors and casualties
firstclassSurvivalPercentage = sum(firstclass$survived) / sum(firstclass$total)
firstclassDeathPercentage = sum(firstclass$died) / sum(firstclass$total)
print(c(firstclassSurvivalPercentage, firstclassDeathPercentage))

[1] 0.6246154 0.3753846

In [40]:
# second class survivors and casualties
secondclassSurvivalPercentage = sum(secondclass$survived) / sum(secondclass$total)
secondclassDeathPercentage = sum(secondclass$died) / sum(secondclass$total)
print(c(secondclassSurvivalPercentage, secondclassDeathPercentage))

[1] 0.4140351 0.5859649

In [41]:
# third class survivors and casualties
thirdclassSurvivalPercentage = sum(thirdclass$survived) / sum(thirdclass$total)
thirdclassDeathPercentage = sum(thirdclass$died) / sum(thirdclass$total)
print(c(thirdclassSurvivalPercentage, thirdclassDeathPercentage))

[1] 0.2521246 0.7478754

### 10. Save your table in CSV format (as e.g. titanic_data.csv) with the first line as headers for the columns.

In [42]:
write.csv(titanic, file = "titanic_dataframe.csv")

### 11. Duplicate the CSV file on your computer since you will be editing the copied version (e.g. titanic_data2.csv). Open the new CSV file in a text editor. Note the way the data is organized. Now, in the text editor, add new lines including the data for the crew that was removed earlier. (help: the percentage of male crew and female crew that survived was 21.69% and 86.96%).

### 12. Now read that updated CSV file into a new data frame called titanic2, and display the data.

In [44]:
titanic2 <- read.csv("titanic_dataframe_copy.csv", header = TRUE)
titanic2

   X  sex      class  survived died total survivalpercentage
1   1 Children First    6        0    6   1.00000000
2   2 Children Second  24        0   24   1.00000000
3   3 Children Third   27       52   79   0.34177215
4   4 Men      First   57      118  175   0.32571429
5   5 Men      Second  14      154  168   0.08333333
6   6 Men      Third   75      387  462   0.16233766
7   8 Women    First  140        4  144   0.97222222
8   9 Women    Second  80       13   93   0.86021505
9  10 Women    Third   76       89  165   0.46060606
10 11 Men      Crew   192      693  885   0.21690000
11 12 Women    Crew    20        3   23   0.86960000