# Assignment 11: Primer for data frames

In this primer, we will study a classic data set - the survivors in the sinking of the Titanic. As there were limited lifeboats, decisions were made prioritizing who would and would not survive. We will observe how different factors such as age, sex, and class affected a personâ€™s chance of survival using data frames.

For help with this assignment, you can use the following tutorial material: https://docs.google.com/document/d/1phdIyrb1RdF05sUvWFNd1F_OO5W7G7kobB12IhOnmJI/edit?usp=sharing

## Steps

### 1. Input the following data into a data frame called "titanic", and display the entire data frame.
    Sex, Class, Survived, Died
    Children, First, 6, 0
    Children, Second, 24, 0
    Children, Third, 27, 52
    Men, First, 57, 118
    Men, Second, 14, 154
    Men, Third, 75, 387
    Men, Crew, 192, 693
    Women, First, 140, 4
    Women, Second, 80, 13
    Women, Third, 76, 89
    Women, Crew, 20, 3

### 2. Now only show the data of the people in first class.

### 3. Delete the crew members from the data.

### 4. Create a new column that is the total number of people for that group (those who survived + died).

### 5. Create a new column with the percentage of people who survived.

### 6. Delete the column indicating the total number of people in that group.

### 7. Only show the rows where more than 80% of the people survived.

### 8. Then only show the rows where less 40% of the people survived.

### 9. Calculate the total number of people that survived and died for each class, then report the percentages.

### 10. Save your table in CSV format (as e.g. titanic_data.csv) with the first line as headers for the columns.

### 11. Duplicate the CSV file on your computer since you will be editing the copied version (e.g. titanic_data2.csv). Open the new CSV file in a text editor. Note the way the data is organized. Now, in the text editor, add new lines including the data for the crew that was removed earlier. (help: the percentage of male crew and female crew that survived was 21.69% and 86.96%).

### 12. Now read that updated CSV file into a new data frame called titanic2, and display the data.