# Assignment 7: Primer for Basic Language Syntax with Answers

For help with this assignment, you can use the following table:
[Basic language syntax](https://docs.google.com/document/d/1Vy7kkxuP1mY5f2jYZU3Og7eVbuTv_Rhj3lFTrICUywg/edit?usp=sharing)

*Note: The table will not be sufficient on its own for you to complete the assignment, however in the cases where it is not sufficient it can point you to the correct function or approach to answer the problem.

## Section A: help and comments

Create a variable, var, and set the value to the string “hello”

In [1]:
var <- "hello"

Now print the data type of var

In [2]:
typeof(var)

[1] "character"

Now run the help function for var

In [5]:
?var

## Section B: numbers and arithmetic

Print the types for 1, 1.0, and “1” and note how they differ

In [6]:
typeof(1)
typeof(1.0)
typeof("1")

[1] "double"

[1] "double"

[1] "character"

Calculate and print the area of a circle of radius 5 to two decimal places

In [7]:
round(pi*5^2, digits = 2)

[1] 78.54

Print a random roll of a dice (numbers 1 to 6)

In [8]:
sample(1:6, 1)

[1] 4

Print a random floating point number from 0 to 2.5, rounded to 2 decimal places

In [10]:
round(runif(1, 0, 2.5), digits = 2)

[1] 2.04

## Section C: strings and slices

Create a string (be creative) with a single quote character in it, a double quote character in it, a tab, and a newline character, and print the string you’ve made

In [18]:
book <- "\'Harry Potter\' \tand the\n \"Sorcerer\'s Stone\""
cat(book)

'Harry Potter' 	and the
 "Sorcerer's Stone"

Set a to “my”, b to “dog”, and c to “house”, and concatenate them into variable d with spaces in between

In [21]:
a <- "my"
b <- "dog"
c <- "house"
d <- paste(a, b, c, sep = " ")
cat(d)

my dog house

Print the length of string d

In [23]:
nchar(d)

[1] 12

Extract “dog” from string d using string index slicing

In [24]:
substr(d, 4, 6)

[1] "dog"

Print the length of “supercalifragilisticexpialidocious”

In [27]:
a <- "supercalifragilisticexpialidocious"
nchar(a)

[1] 34

## Section D: booleans and conditionals

Translate and then evaluate the truth value of this: (not false) and ((not true) or true)

In [28]:
!FALSE & (!TRUE | TRUE)

[1] TRUE

Write an if statement for variable temp that prints “fever” if temp is under 110 but over 102, and test it with a value in that range

In [29]:
temp <- 105
if(temp > 102 & temp < 110) {
    cat("Fever")
}

Fever

Write and appropriately test an if/else statement that takes a variable var and prints:
    * “Negative” if negative
    * “Positive” if positive and
    * “Zero” if neither

In [30]:
val <- 0
if(val > 0) "Positive" else if(val < 0) "Negative" else "Zero"

[1] "Zero"

## Section E: loops

Write a for loop that prints the numbers 0 to 9

In [31]:
for(i in 0:9) {
    cat(i, " ")
}

0  1  2  3  4  5  6  7  8  9

Write a for loop that prints only even numbers from 10 to 20

In [35]:
for(i in 10:20) {
    if(i%%2 == 0) cat(i, " ")
}

10  12  14  16  18  20

Write a for each loop that goes through a list consisting of “hello”, “hi”,and ”bye” and prints the string and it’s length

In [37]:
words <- list("hello", "hi", "bye")
for(word in words) {
    cat(word, nchar(word), "\n")
}

hello 5
hi 2
bye 3

Set the variable a to be 1. 
    * Then make a while loop that stops when a is over a million.
    * In the loop, multiply a by 2 each time and show the results

In [39]:
a <- 1
while(a<=1000000) {
    a<- 2*a
    cat(a, "\n")
}

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576

Do the same as before, but have the while loop never stop (e.g. while(true)) but have it break the loop when a is over a million

In [40]:
a<-1
repeat{
    a<-2*a
    cat(a, "\n")
    if(a>1000000) break
}

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576