In this primer, we will study a data set that represents pollution in various cities in the United States and Canada. 

For help with this assignment, you can use the following tutorial material: <a href= "https://docs.google.com/document/d/1phdIyrb1RdF05sUvWFNd1F_OO5W7G7kobB12IhOnmJI/edit"> [Data frames tutorial]. </a>

<font color="red">Copy and paste the following and run the program after you have filled out the requested lines. Note, Python and R use ‘#’ for comments but if you are using matlab just Find/Replace every ‘#’ with a ‘%’ before you run your code.<br>

You will be expected to show the code of the primer, and the created CSV file in a text editor in class. </font>

### Steps

 #### 1. Input the following data into a data frame called city_pollution, and display the entire data frame:
#Location, Population, Air Quality Index, Quality Status
#Los Angeles, 3,976,000, 72, ‘Moderate’
#Houston, 2,303,000, 55, ‘Moderate’ 
#Phoenix, 1,615,000, 26, ‘Good’
#New York, 8,538,000, 22, ‘Good’
#Colorado, 5,607,000, 830, ‘Hazardous’
#Alberta, 4,146,000, 164, ‘Unhealthy’
#Tallahassee, 190894, 31, ‘Good’
#Grand Rapids, 196,445, 51, ‘Moderate’
#Des Moines, 215,472, 37, ‘Good’
#Tulsa, 403,090, 42, ‘Good’
#New Mexico, 2,088,000, 70, ‘Moderate’

In [1]:
import pandas as pd

pollution_data = {'Locations':['Los Angeles','Houston','Phoenix','New York','Colorado','Alberta','Tallahassee','Grand Rapids','Des Moines','Tulsa','New Mexico'],'Population':[3976000,2303000,1615000,8538000,5607000,4146000,190894,196445,215472,403090,2088000],'Air Quality Index':[72,55,26,22,830,164,31,51,37,42,70],'Quality Status':['Moderate','Moderate','Good','Good','Hazardous','Unhealthy','Good','Moderate','Good','Good','Moderate']}
df = pd.DataFrame(pollution_data,columns=["Locations","Population","Air Quality Index","Quality Status"])
print(df)

       Locations  Population  Air Quality Index Quality Status
0    Los Angeles     3976000                 72       Moderate
1        Houston     2303000                 55       Moderate
2        Phoenix     1615000                 26           Good
3       New York     8538000                 22           Good
4       Colorado     5607000                830      Hazardous
5        Alberta     4146000                164      Unhealthy
6    Tallahassee      190894                 31           Good
7   Grand Rapids      196445                 51       Moderate
8     Des Moines      215472                 37           Good
9          Tulsa      403090                 42           Good
10    New Mexico     2088000                 70       Moderate

#### 2. Show the data of the cities with a status of ‘Moderate’.

In [2]:
df.loc[df['Quality Status'] == 'Moderate']

       Locations  Population  Air Quality Index Quality Status
0    Los Angeles     3976000                 72       Moderate
1        Houston     2303000                 55       Moderate
7   Grand Rapids      196445                 51       Moderate
10    New Mexico     2088000                 70       Moderate

#### 3. Show all of the cities and their corresponding population sizes that are in the data set.

In [3]:
df[['Locations','Population']]

       Locations  Population
0    Los Angeles     3976000
1        Houston     2303000
2        Phoenix     1615000
3       New York     8538000
4       Colorado     5607000
5        Alberta     4146000
6    Tallahassee      190894
7   Grand Rapids      196445
8     Des Moines      215472
9          Tulsa      403090
10    New Mexico     2088000

#### 4. Delete the ‘Unhealthy’ cities from the data.

In [4]:
df = df[df['Quality Status'] != 'Unhealthy']
print(df)

       Locations  Population  Air Quality Index Quality Status
0    Los Angeles     3976000                 72       Moderate
1        Houston     2303000                 55       Moderate
2        Phoenix     1615000                 26           Good
3       New York     8538000                 22           Good
4       Colorado     5607000                830      Hazardous
6    Tallahassee      190894                 31           Good
7   Grand Rapids      196445                 51       Moderate
8     Des Moines      215472                 37           Good
9          Tulsa      403090                 42           Good
10    New Mexico     2088000                 70       Moderate

#### 5. Only show the rows where the population is more than 1 million.

In [5]:
df[df['Population']>1000000]

      Locations  Population  Air Quality Index Quality Status
0   Los Angeles     3976000                 72       Moderate
1       Houston     2303000                 55       Moderate
2       Phoenix     1615000                 26           Good
3      New York     8538000                 22           Good
4      Colorado     5607000                830      Hazardous
10   New Mexico     2088000                 70       Moderate

#### 6. Then only show the rows with an AQI less than 50.

In [6]:
df[df['Air Quality Index']<50]

     Locations  Population  Air Quality Index Quality Status
2      Phoenix     1615000                 26           Good
3     New York     8538000                 22           Good
6  Tallahassee      190894                 31           Good
8   Des Moines      215472                 37           Good
9        Tulsa      403090                 42           Good

#### 7. Show the average quality index per quality status.
<font color="red"> Hint: Use a grouped calculation. </font>

In [7]:
grouped = df.groupby('Quality Status')
print(grouped['Air Quality Index'].mean())

Quality Status
Good          31.6
Hazardous    830.0
Moderate      62.0
Name: Air Quality Index, dtype: float64

#### 8. Save your table in CSV format (as e.g. city_pollution_data.csv) with the first line as headers for the columns.

In [8]:
import pandas as pd
import numpy as np

df.to_csv('city_pollution_data.csv',encoding='utf-8',index=False)

#### 9. Duplicate the CSV file on your computer since you will be editing the copied version (e.g. copy_pollution_data2.csv). Open the new CSV file in a text editor. Note the way the data is organized. Now, in the text editor, add new lines including the data for the ‘Unhealthy’ listed city (Alberta).

#### 10. Now read that updated CSV file into a new data frame called city_pollution2, and display the data.

In [9]:
city_pollution2 = pd.read_csv('city_pollution_data2.csv')
print(city_pollution2)

       Locations  Population  Air Quality Index Quality Status
0    Los Angeles     3976000                 72       Moderate
1        Houston     2303000                 55       Moderate
2        Phoenix     1615000                 26           Good
3       New York     8538000                 22           Good
4       Colorado     5607000                830      Hazardous
5    Tallahassee      190894                 31           Good
6   Grand Rapids      196445                 51       Moderate
7     Des Moines      215472                 37           Good
8          Tulsa      403090                 42           Good
9     New Mexico     2088000                 70       Moderate
10       Alberta     4146000                164      Unhealthy